# Ambiente Virtual do Python
venv/

# Pasta de Dados
data/

# Arquivos de log e saídas temporárias
log.txt

# Cache do Python e arquivos compilados
__pycache__/
*.pyc

# Arquivos do Apache Beam
# (Ignora as saídas do pipeline se não estiverem na pasta 'data')
pipeline_output*

# Configurações de IDE e Sistema
.vscode/
.idea/
.DS_Store

# Artefatos de Teste e QA
.pytest_cache/
.coverage
htmlcov/

# Ignora a pasta de modelos
/models/

# Ignora ficheiros de modelo individuais
*.joblib
*.pkl
